/* The switch - the box around the slider */
.switch-container {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  width: 150px;
}
.switch {
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: #b0bcca;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  bottom: 4px;
  background-color: #f7951d;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #5564af;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5564af;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
