.turn-board {
  align-items: center;
  background: #262262;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 1.75em;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 5px;
  padding: 5px;
  width: 320px;
}

.square-size {
  height: 25px;
  width: 25px;
}
