.score-board {
  display: grid;
  grid-auto-flow: column;
  margin: 5px;
  width: 320px;
}

.score-board div {
  background-color: var(--colors-blue-600); /* cambiar por variable */
  border-radius: 0 10px 10px 0;
  color: var(--colors-white);
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.score-board div:first-child {
  background-color: var(--colors-orange-500); /* cambiar por variable */
  border-radius: 10px 0 0 10px;
}
