.score-board {
  display: grid;
  grid-auto-flow: column;
  margin: 5px;
  width: 320px;
}

.score-board div {
  background-color: #5564af; /* cambiar por variable */
  border-radius: 0 10px 10px 0;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.score-board div:first-child {
  background-color: #f7951d; /* cambiar por variable */
  border-radius: 10px 0 0 10px;
}
