.config-panel {
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 320px;
}
.reset-button {
  background: var(--colors-blue-600);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--colors-grey-800);
  color: var(--colors-white);
  font-family: "Plus Jakarta Sans";
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
}

.reset-button:hover {
  background-color: var(--colors-blue-700);
}

.reset-button:active {
  background-color: var(--colors-blue-700);
  box-shadow: 2px 2px 2px 2px var(--colors-grey-900);
  transform: translateY(4px);
}

.reset-button.noShow {
  visibility: hidden;
}
