.config-panel {
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 320px;
}
.reset-button {
  background: #5564af;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #3b3d42;
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
}

.reset-button:hover {
  background-color: #3c477c;
}

.reset-button:active {
  background-color: #3c477c;
  box-shadow: 2px 2px 2px 2px #202124;
  transform: translateY(4px);
}

.reset-button.noShow {
  visibility: hidden;
}
